h1 {
    text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

.modal-header .close {
  margin: auto 0;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.modal-content {
    text-align: center;
}

.btn {
    margin: 5px;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
}