body {
  font-family: 'Lato', sans-serif;
  background-image: url(../img/Pikachu\ Background\ new.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-primary {
  background-color: #e32d1f;
  border-color: #e32d1f;
}

.btn {
  margin: 5px;
  width: 180px;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: #e32d1f;
  border-color: #e32d1f;
  transform: scale(1.1);
}

#close {
  width: auto;
}

.custom-toggler {
  border-color: #e32d1f;
}

.navbar-toggler-icon {
  background-image: url( 
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227, 45, 31, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: black;
}

h4 {
  font-family: 'Press Start 2P', cursive;
  margin-top: 10px;
}

.modal-content {
  text-align: center;
  font-size: 25px;
  color: white;
  border-radius: 7%;
  background: no-repeat bottom/25% url(../img/open\ pokemon\ ball.png);
  background-position: bottom 155px left 40px;
  background-color: black;
  margin-top: 200px;
}

.modal-header .close {
  margin: auto 0;
}

.modal-footer {
  border-top: none;
}
.modal-title {
  margin: 0 auto;
  text-align: center;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navbar-custom {
  background-color: black;
}

.navbar-brand { 
  color: #e32d1f; 
} 
 .navbar-brand:hover {
   color: #e32d1f;
   transform: scale(1.1);
 }

.nav-item {
  font-family: 'Press Start 2P', cursive;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pokemon-list {
  margin-top: 40px;
  align-items: center;
}

#pokemonName {
  color: white;
}

#thePokedex {
  margin-top: 60px;
  padding: 40px;
} 